build/CMakeCache.txt
build/.cmake/api/v1/query/client-vscode/query.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.20.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.0/CMakeSystem.cmake
build/CMakeFiles/3.20.0/CompilerIdCXX/a.out
build/CMakeFiles/3.20.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/CheckLibraryExists/CheckFunctionExists.cxx
build/.cmake/
*.cmake
build/compile_commands.json
build/Testing
*.o
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
