build/CMakeCache.txt
build/.cmake/api/v1/query/client-vscode/query.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.20.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.0/CMakeSystem.cmake
build/CMakeFiles/3.20.0/CompilerIdCXX/a.out
build/CMakeFiles/3.20.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/CheckLibraryExists/CheckFunctionExists.cxx
build/.cmake/
*.cmake
build/compile_commands.json
build/Testing
*.o
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
.vscode/settings.json
build/ai_cds
build/config.json
build/labels_resnet50.txt
build/labels.txt
build/libnvdsinfer_custom_impl_Yolo_5_rgb.so
build/libnvdsinfer_custom_impl_Yolo_5_thermal.so
build/RGB_20250613_5lcs_V0.16_cross_superR.onnx_b1_gpu0_fp16.engine
build/RGB_yoloV7.txt
build/Thermal_20250613_5lcs_V0.16_cross_superR.onnx_b1_gpu0_fp16.engine
build/Thermal_yoloV7.txt
build/tracker_config.yml
build/webrtc_camera
build/webrtc_camera.log
build/logs/2025-06-23_webrtc_camera.log
build/logs/2025-06-24_webrtc_camera.log
